/*@import url(http://fonts.googleapis.com/css?family=Raleway:400,600);*/

/*@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic,700,300|Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Serif+Pro:400,800);

body {
  font-family: 'Source Serif Pro', Helvetica, sans-serif;
  line-height: 1.3;
  font-size: 14px;
}

.header {
  margin-top: 24px;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.page-title {
  font-size: 30px;
}

.slider-label {
  display: inline-block;
}
.slider-input {
  display: block;
  padding: 12px 0;
}


.switch-label {
  display: inline-block;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
/*  width: 60px;*/
  width: 30px;
/*  height: 34px;*/
  height: 17px;
  top: 8px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
/*  height: 26px;*/
  height: 13px;
/*  width: 26px;*/
  width: 13px;
/*  left: 4px;*/
  left: 2px;
/*  bottom: 4px;*/
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #33C3F0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #33C3F0;
}

input:checked + .slider:before {
/*  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);*/
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
/*  border-radius: 34px;*/
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}


.book {
  padding: 12px 0px;
  border-top:1px solid #cdcdcd;
}

.title:before, .author:before {
  min-width: 48px;
  display: inline-block;
  
  font-family: "source sans pro";
  font-size: 10px;
  font-weight: 700;
  color: #555;
  text-transform:uppercase;
  letter-spacing: 1px;
}

.title {
  text-transform: capitalize;
}
.title:before {
  content:'Title:';
}

.author {
  text-transform: capitalize;
  font-weight: 800;
}
.author:before {
  content:'Author:';
}


button.active {
  background: #bbb;
  color: white;
}

/* Phone view */
@media (max-width: 640px) {

}
